.ranking1{
    margin: 1.2em 0;
}


.ranking_title_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ranking1_icon{
    width: 2.5em;
    height: 2.5em;
}

.ranking1_title_text{
    font-size: 1em;
    font-weight: 700;
    padding-right: 0.4em;
    color: .604023;
}

.ranking1_title_ex{
    font-size: 0.7em;
    font-weight: 700;
    color: .604023;
}



.ranking1_content{
    background-color: #FADC5F;
    width: 100%;
    border-radius: 10px;
    height: 12em;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5em 0;
}




.rank{
    background-color: none;
    width: 7.5em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#second_rank{
    position: relative;
    top: 1em;
}

#third_rank{
    position: relative;
    top: 2em;
}

.rank_img{
    width: 1.5em;
    height: 1.5em;
}

.rank_rank{
    font-size: 0.7em;
    padding: 0.2em 0;
    font-size: 0.7em;
    padding: 0.2em 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    color: white;
}

.photoSelect{
    background-color: white;
    width: 6.5em;
    height: 6.5em;
}

.rank_title{
    font-size: 0.7em;
    padding: 0.2em 0;
    font-weight: 700;
    color: white;
}

.rank_like{
    font-size: 0.7em;
    padding: 0.2em 0;
    font-weight: 700;
    color: white;
}

.ranking_buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.3em;
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 3px solid #FADC5F;
    width: 7em;
    height: 2em;
    border-radius: 20px;
    margin: 0.5em 1em;
}

.button_icon{
    color: #604023;
    width: 1.2em;
    height: 1.2em;
    padding-right: 0.2em;
    position:relative;
    top:0.05em;
}


.button_text{
    font-family: "Noto Sans KR", sans-serif;
    font-size: 0.5em;
    font-weight: 700;
}


#black_color{
    background-color: #343434;
}

#black_button{
    border: 3px solid #343434;
}

#black_button_2{
    border: 3px solid #343434;
}


#red_color{
    background-color: #DC143C;
}

#red_button{
    border: 3px solid #DC143C;
}

#red_button_2{
    border: 3px solid #DC143C;
}


a{
    text-decoration: none;
    color: #604023;
    font-size: 0.5em;
    font-weight: 700;
}



.boxes{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.each_box{
    background-color: #604023;
    width: 5em;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box1{
    height: 5em;
}
.box2{
    height: 3em;
    position: relative;
    top: 2em;

}
.box3{
    height: 2em;
    position: relative;
    top: 3em;

}


.each_box_img{
    width: 2em;
    height: 2em;
}


.box_img3{
    width: 1.7em;
    height: 1.7em;
}


.box_result_img{
    width: 5em;
    height: 5em;
}

.result_img2{
    position: relative;
    top: 2.5em;
}

.result_img1{
    position: relative;
    top: 0.5em;
}

.result_img3{
    position: relative;
    top: 3.5em;
}