.custom-select {
  position: relative;
}

.selected-option {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.options li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.options li:hover {
  background-color: lightgray;
}

.custom-submit {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button svg {
  display: block;
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  background: none;
}

#categorySelect {
  margin-top: 2em;
  font-family: "Noto Sans KR";
  width: 100%;
  background-color: transparent;
  padding: 0.5em 2em;
  border: 2px solid #604023;
  border-radius: 15px;
  color: #604023;
  font-size: 15px;
  font-weight: 700;
}

#titleSelect {
  margin-top: 2em;
  font-family: "Noto Sans KR";
  width: 85%;
  background-color: transparent;
  padding: 0.5em 2em;
  border: 2px solid #604023;
  border-radius: 15px;
  color: #604023;
  font-size: 15px;
  font-weight: 700;
}

#custom-photo {
  border-radius: 15px;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10em; /* 원하는 높이 값으로 설정 */
  border: 2px solid #604023;
}

#custom-photo label,
#custom-photo input[type="file"] {
  display: block;
  font-family: "Noto Sans KR";
}

#photoSelect {
  visibility: hidden;
  margin-top: 2em;
  font-family: "Noto Sans KR";
  width: 50%;
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 15px;
  color: #604023;
  font-size: 15px;
  font-weight: 700;
}

#preview {
  margin-top: 2em;
  width: 10em;
  height: 10em;
}