{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'pictures.css' %}" />
{% endblock %} {% block body %}
<select onchange="reload(this)">
  {% for i in categories %}
  <option value="{{i}}">{{i}}</option>
  {% endfor %}
</select>
<script>
    const reload = (this) => {
      const category = this.value;
      const currentPath = window.location.pathname;

      const newUrl = currentPath.replace('pictures/', `${category}/`);
      window.location.href = newUrl;
  };
</script>
<div>좋아하는 사진에 '더블클릭'해서 좋아요를 눌러주세요!</div>
<div>
  {% for picture in pictures %}
  <div class="{{picture.category}}">
    {{picture.address}} {{picture.like}} {{picture.title}}
  </div>
  {% endfor %}
</div>

{% endblock %}
