{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'ranking.css' %}"/>
{% endblock %}
rank1_pictureclass

{% block body %}
<div class="ranking1">
    <div class="ranking_title_div">
        <img class="ranking1_icon" src="../static/pictures/ranking_icon_1.png"> 
        <span class="ranking1_title_text">대동제의 낮</span>
        <span class="ranking1_title_ex">ex. 부스/교복/단체사진 </span>            
    </div>
    
    <div class="ranking1_content">
        <div class="rank" id="second_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank2.png">
                <span>2위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="first_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank1.png">
                <span>1위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="third_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank3.png">
                <span>3위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>
    </div>

    <div class="ranking_buttons">
        <span class="button">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5 16.25a.75.75 0 0 1 .75.75v2c0 .138.112.25.25.25h12a.25.25 0 0 0 .25-.25v-2a.75.75 0 0 1 1.5 0v2A1.75 1.75 0 0 1 18 20.75H6A1.75 1.75 0 0 1 4.25 19v-2a.75.75 0 0 1 .75-.75Zm5.738-.123a.992.992 0 0 1-.989-.905a36.618 36.618 0 0 1-.08-5.27a42.17 42.17 0 0 1-.741-.048l-1.49-.109a.76.76 0 0 1-.585-1.167a15.555 15.555 0 0 1 4.032-4.258l.597-.429a.888.888 0 0 1 1.036 0l.597.43a15.556 15.556 0 0 1 4.032 4.257a.76.76 0 0 1-.585 1.167l-1.49.109c-.246.018-.493.034-.74.047c.1 1.757.072 3.518-.082 5.27a.992.992 0 0 1-.988.906h-2.524Z" clip-rule="evenodd"/></svg>
            <a class="button_text">사진 업로드하기</a>
        </span>
        <span class="button">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2Zm4.5 8.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5  0 0 0-3Z"/></g></svg>
            <a class="button_text">더 보러 가기</a>
        </span>
    </div>
</div>



<div class="ranking1">
    <div class="ranking_title_div">
        <img class="ranking1_icon" src="../static/pictures/ranking_icon_2.png"> 
        <span class="ranking1_title_text">대동제의 밤</span>
        <span class="ranking1_title_ex">ex. FM/만취/주점/연예인 </span>            
    </div>
    
    <div class="ranking1_content" id="black_color">
        <div class="rank" id="second_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank2.png">
                <span>2위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="first_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank1.png">
                <span>1위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="third_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank3.png">
                <span>3위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>
    </div>

    <div class="ranking_buttons">
        <span class="button" id="black_button">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5 16.25a.75.75 0 0 1 .75.75v2c0 .138.112.25.25.25h12a.25.25 0 0 0 .25-.25v-2a.75.75 0 0 1 1.5 0v2A1.75 1.75 0 0 1 18 20.75H6A1.75 1.75 0 0 1 4.25 19v-2a.75.75 0 0 1 .75-.75Zm5.738-.123a.992.992 0 0 1-.989-.905a36.618 36.618 0 0 1-.08-5.27a42.17 42.17 0 0 1-.741-.048l-1.49-.109a.76.76 0 0 1-.585-1.167a15.555 15.555 0 0 1 4.032-4.258l.597-.429a.888.888 0 0 1 1.036 0l.597.43a15.556 15.556 0 0 1 4.032 4.257a.76.76 0 0 1-.585 1.167l-1.49.109c-.246.018-.493.034-.74.047c.1 1.757.072 3.518-.082 5.27a.992.992 0 0 1-.988.906h-2.524Z" clip-rule="evenodd"/></svg>
            <a class="button_text">사진 업로드하기</a>
        </span>
        <span class="button" id="black_button_2">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2Zm4.5 8.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5  0 0 0-3Z"/></g></svg>
            <a class="button_text">더 보러 가기</a>
        </span>
    </div>
</div>




<div class="ranking1">
    <div class="ranking_title_div">
        <img class="ranking1_icon" src="../static/pictures/ranking_icon_3.png"> 
        <span class="ranking1_title_text">입실렌티</span>
        <span class="ranking1_title_ex">ex. 레플리카/뱃노래/응원/타투스티커</span>            
    </div>
    
    <div class="ranking1_content" id="red_color">
        <div class="rank" id="second_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank2.png">
                <span>2위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="first_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank1.png">
                <span>1위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>


        <div class="rank" id="third_rank">
            <div class="rank_rank">
                <img class="rank_img" src="../static/pictures/rank3.png">
                <span>3위</span>
            </div>
            <div class="rank_picture">
                
            </div>
            <div class="rank_title">
                제목
            </div>
            <div class="rank_like">
                좋아요 수
            </div>
        </div>
    </div>

    <div class="ranking_buttons">
        <span class="button" id="red_button">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M5 16.25a.75.75 0 0 1 .75.75v2c0 .138.112.25.25.25h12a.25.25 0 0 0 .25-.25v-2a.75.75 0 0 1 1.5 0v2A1.75 1.75 0 0 1 18 20.75H6A1.75 1.75 0 0 1 4.25 19v-2a.75.75 0 0 1 .75-.75Zm5.738-.123a.992.992 0 0 1-.989-.905a36.618 36.618 0 0 1-.08-5.27a42.17 42.17 0 0 1-.741-.048l-1.49-.109a.76.76 0 0 1-.585-1.167a15.555 15.555 0 0 1 4.032-4.258l.597-.429a.888.888 0 0 1 1.036 0l.597.43a15.556 15.556 0 0 1 4.032 4.257a.76.76 0 0 1-.585 1.167l-1.49.109c-.246.018-.493.034-.74.047c.1 1.757.072 3.518-.082 5.27a.992.992 0 0 1-.988.906h-2.524Z" clip-rule="evenodd"/></svg>
            <a class="button_text">사진 업로드하기</a>
        </span>
        <span class="button" id="red_button_2">
            <svg class= "button_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z"/><path fill="currentColor" d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2Zm4.5 8.5a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5 0 0 0 0-3Zm-4.5 0a1.5 1.5 0 1 0 0 3a1.5 1.5  0 0 0-3Z"/></g></svg>
            <a class="button_text">더 보러 가기</a>
        </span>
    </div>
</div>

{% endblock %}
